* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 20px;
    scroll-behavior: smooth;
}

/*background photo for Home page*/
#home {
    max-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(./img/background.jpg);
    background-size: cover;
    background-position: center;
}

/*navigation*/

.navbar {
    width: 100%;
    margin: auto;
    padding: 35px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(171, 21, 21, 0.4);
    position: fixed;
    z-index: 1000;
}

.title a {
    font-size: 27px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 20px;
    border-radius: 33px;
}

.title a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    transition: 0.5s ease-in;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: rgb(173, 21, 21);
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

/*Home page content*/
.contenthome {
    position: absolute;
    width: 100%;
    top: 55%;
    transform: translateY(-50%);
    color: #fff;
    text-align: center;
    font-weight: lighter;
}

.contenthome img {
    max-width: 100%;
}

.contenthome h1 {
    font-weight: lighter;
    font-size: 23px;
}

.icon a {
    display: inline-block;
    margin: 0 20px;
    position: relative;
    color: #fff;
}

.icon svg:hover {
    color: rgb(173, 21, 21);
    transition: 0.5s;
}

/*About Us page content*/
.aboutpage {
    max-width: 100%;
    height: 100vh;
    margin: auto;
    padding: 10%;
    display: flex;
    flex-wrap: wrap;
}

.aboutpage h4 {
    font-weight: lighter;
    width: 50%;
    align-content: flex-start;
    text-indent: 50px;
    line-height: 1.5;
}

.aboutpage img {
    padding: 5%;
    max-width: 100%;
}

/*Contact page content*/
.contactpage {
    color: #fff;
    width: 100%;
    height: 100vh;
    margin: auto;
    padding-top: 15%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.95);


}

.contactpage h5 {
    padding: 3%;

}

@media screen and (max-width: 600px)
{
    html {
        font-size: 15px;
    }
    .navbar {
        padding: 10px 15px;
        display: inline;
        line-height: 30px;
    }
    .contenthome h1 {
        font-size: 13px;
    }
    .title a {
        font-size: 17px;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 10px;
        border-radius: 33px;
    }
    .icon a {

        color: aliceblue;
    }
    .aboutpage h4 {
        padding-top: 80px;
        width: 100%;
        text-indent: 10px;
        line-height: 1.2;
    }
    .aboutpage img {
        max-height: 200px;
    }
    .contactpage {
        padding-top: 100px;

    }
}